* {
  box-sizing: border-box;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding:0 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;

  box-shadow:0 2px 8px rgba(0,0,0,0.88);
}

.logo-container{
    flex:1;
}
.logo{
    margin:0;
    color:#ff4f5e;
    font-size:28px;
}

.search-container{
    flex:2;

    display:flex;
    justify-content:center;
}

.search-input{
    width:300px;

    padding:10px 15px;

    border:1px solid #cccccc;
    border-radius:5px 0 0 5px;

    outline:none;
}

.search-input:focus{
    border-color:#ff4f5e;
}


.search-btn{
    padding:10px 20px;
    background-color:#ff4f5e;
    color:#ffffff;
    border:none;
    border-radius:0 5px 5px 0;
    cursor:pointer;
}

.search-btn:hover{
    background-color:#e04353;
}

.user-container{
    flex:1;

    display:flex;
    justify-content:flex-end;
}

.user-icon{
    font-size:30px;
    cursor:pointer;
}